.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(120deg, #187bcd, #99bbc8, #2db5d5); /* Thème global */
  color: white;
  text-align: center;
  padding: 2rem;
}

.admin-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.admin-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.admin-button {
  padding: 1rem 2rem;
  background-color: white;
  color: #187bcd;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.admin-button:hover {
  background-color: #187bcd;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.admin-button:active {
  transform: scale(0.95);
}

/* Mode sombre pour la page Admin */
body.dark-mode .admin-container {
  background-color: #1f2937; /* Fond sombre */
  color: #f3f4f6; /* Texte clair */
}

body.dark-mode .admin-title {
  color: #f3f4f6; /* Texte clair pour le titre */
}

body.dark-mode .admin-button {
  background-color: #6b7280; /* Bouton gris */
  color: #f3f4f6; /* Texte clair */
}

body.dark-mode .admin-button:hover {
  background-color: #4b5563; /* Couleur au survol */
}